<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
    <!-- ユーザーを一覧表示するためのeach文を追加しましょう -->
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-right">
          <!-- ユーザー名を表示しましょう -->
          <%= link_to user.name, user_path(user.id) %>
        </div>
      </div>
    <!-- each文のendの入れ忘れには注意！ -->
    <% end %>
  </div>
</div>