<header>
  <div class="header-logo">
    <a href="/">MiniTweet</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">MiniTweetについて</a></li>
  </ul>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>ミニTWEETへようこそ！</h2>
    <p>楽しく呟いて世界中と共有しよう</p>
  </div>
</div>